*{
    padding: 0;
    margin: 0;
    transition: .1s ease-in-out; /* плавность переходов для всех элементов страницы*/
}
@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../fonts/Roboto/Roboto-BlackItalic.eot');
    src: url('../fonts/Roboto/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-BlackItalic.woff') format('woff'),
    url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
        font-family: 'Roboto Medium';
        src: url('../fonts/Roboto/Roboto-Medium.eot');
        src: url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto/Roboto-Regular.eot');
    src: url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
h1, h2, h3, h4 {
    font-family: 'Roboto-BlackItalic';}
body,p,table,a{
    font-family: 'Roboto Regular';
    /* overflow-y:hidden; */
    }

.registration-inputs{
    /* margin-top: 5% !important;
    margin-bottom: 5% !important; */
    background-color: white;
    border: 1px solid gray;
    border-radius:10px;
    box-shadow:0 0 3px #353b48;
    display: grid;
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
    grid-template-columns: 1fr;
    grid-gap: 2px;
    align-items: center;
    text-align:left;
    padding: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    opacity: 0.95;
   
}
body{
    display: flex !important;
    justify-content: center;
    align-items: center;
}
/* .height{
    height: 380px !important;
} */
.auth-inputs{
    /* height: 280px; */
    /* margin-top: 5% !important;
    margin-bottom: 5% !important; */
    background-color: white;
    border: 1px solid gray;
    border-radius:10px;
    box-shadow:0 0 3px #353b48;
    height: auto;
    width:200px;
    display: block;
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;

    align-items: center;
    text-align:left;
    padding: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    opacity: 0.95;
}
.reg-lable{
    text-align: center !important; 
}
.btn-primary{
    background-color: white !important;
    border-color: #353b48 !important;
    color: #353b48 !important;
    margin-top: 5px;
    width: 100%;
}
.btn-primary:hover{
    background-color: #00ff68 !important;
    color: white !important;
}
.auth-link:hover{
    color:#00ff68;
}
.link-center{
    text-align: center;
}
.cancel{
    position: absolute;
    text-decoration: none !important;
    color: gray;
}
.cancel:hover{
    color:#00ff68;
}
.auth-link{
    text-align: center;
    color: #353b48;
    text-decoration: none !important;
    font-size: 0.9em;
}
.link1{
    font-size: 0.75em;

}
.textarea-support{
    width: 100%;
    margin-top: 10px;
}
body{
    background-image: url("../Images/4--514238-Green\ grass\ growing\ time-lapse\ -\ isolated\ on\ white\ background.jpg");
    background-position: top center;
    -webkit-background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 720px;

}


.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
		-webkit-transition: opacity .5s;
		-moz-transition: opacity .5s;
		-ms-transition: opacity .5s;
		-o-transition: opacity .5s;
		transition: opacity .5s;
}
.popup {
	background-color: #fff;
	border: 3px solid #fff;
	display: inline-block;
	left: 50%;
    opacity: 0;
    
    padding: 10px;

	width: 300px;
	height: auto;
	position: fixed;
	text-align: justify;
	top: 40%;
	visibility: hidden;
	z-index: 999999;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: opacity .5s, top .5s;
	-moz-transition: opacity .5s, top .5s;
	-ms-transition: opacity .5s, top .5s;
	-o-transition: opacity .5s, top .5s;
	transition: opacity .5s, top .5s;
	border-radius: 11px;
}
.popup .close_window {
	width: 6px;
	height: 17px;
	/* position: absolute;
	padding: 1px 9px 4px 9px; */
	top: -15px;
	right: -15px;
	cursor: pointer;
	color: gray;
	text-align: center;
}
.popup .close_window:hover {

}
.popup .close_window:active {
	background: #8f9be0;
}